# This file defines the requirements for a productive project deployment.
# It should not contain dependencies for tests, developer tools, etc. (see requirements-dev.txt)
PyYAML~=5.3.1


# testing deps (for CI)
black~=19.10b0
pre-commit~=2.2.0
pytest~=5.4.0
pytest-cov~=2.8.0
torch
numpy 
scipy